* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v729_236 {
  width: 100%;
  height: 2110px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v732_351 {
  width: 262px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 213px;
  left: 514px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 43px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v732_380 {
  width: 503px;
  height: 59px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 1204px;
  left: 142px;
}
.v732_381 {
  width: 68px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1168px;
  left: 184px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v732_384 {
  width: 503px;
  height: 59px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 1318px;
  left: 142px;
}
.v732_385 {
  width: 109px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1282px;
  left: 164px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v732_386 {
  width: 503px;
  height: 59px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 1432px;
  left: 142px;
}
.v732_387 {
  width: 145px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1396px;
  left: 164px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v732_382 {
  width: 503px;
  height: 59px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 1204px;
  left: 705px;
}
.v732_383 {
  width: 62px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1168px;
  left: 750px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v732_390 {
  width: 503px;
  height: 59px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 1436px;
  left: 699px;
}
.v732_391 {
  width: 172px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1396px;
  left: 726px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v732_388 {
  width: 503px;
  height: 59px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 1318px;
  left: 699px;
}
.v732_389 {
  width: 91px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1282px;
  left: 730px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v732_392 {
  width: 300px;
  height: 82px;
  background: url("images/v732_392.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1609px;
  left: 530px;
  overflow: hidden;
}
.v732_393 {
  width: 300px;
  height: 82px;
  background: rgba(0,223,251,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  overflow: hidden;
}
.v732_394 {
  width: 89px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 24px;
  left: 101px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 43px;
  opacity: 1;
  text-align: center;
}
.v764_310 {
  width: 343px;
  height: 624px;
  background: url("images/v764_310.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 326px;
  left: 907px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v764_311 {
  width: 349px;
  height: 606px;
  background: url("images/v764_311.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 462px;
  left: 514px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v764_312 {
  width: 341px;
  height: 609px;
  background: url("images/v764_312.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 350px;
  left: 123px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v805_729 {
  width: 263px;
  height: 124px;
  background: url("images/v805_729.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 87px;
  overflow: hidden;
}
